@media only screen and (max-width: 400px){
    audio {
        width: 80%;
      }
}

@media only screen and (min-width: 600px){
  .character-block {
    max-width: 600px;
    max-height: auto;
     }
}

@media only screen and (min-width: 600px){
  .favourite-block {
    max-width: 800px;
    max-height: auto;
     }
}

@media only screen and (min-width: 576px){
  .y-centered {
    padding-top: 50%;
    }
}

@media only screen and (max-width: 960px) {
  .parallax {
    background-attachment: scroll;
  }
}


