@media only screen and (max-width: 400px){
    audio {
        width: 80%;
      }
}

@media only screen and (min-width: 600px){
  .card {
    max-width: 600 px;
    max-height: auto;
}
}
